.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: transparent;
  backdrop-filter: blur(9px);
}
.modal {
  max-height: 90vh;
  overflow-y: scroll;
  max-width: 500px;
  position: fixed;
  top: 0;
  padding: 30px;
  background: #f8fef8;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: fit-content;
  border-radius: 16px;
  z-index: 6;
  box-shadow: 0 0 43px -12px #53772380;
}
